body{
	height: 100vh;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family: Helvetica_font;
}

/* Main block */

.mainContainer{
  background-color: rgba(255,255,255,0.1);
  border-radius: 50px;
  margin:30px;
	min-height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Div in header */

.inner{
  color:white;
}

/* Button close */

.close{
  float:left;
  position: absolute;
  top:30px;
  left: 50px;
  font-size: 40px;
  color:white;
}

/* Video property */

.video{
  width:640px;
  height:360px;
  margin:20px;
  float:left;
}

/* Description property */

.description{
  margin: 20px;
  color: #bdbdbd;
  font-size:15px;
}

/* Adaptation */

@media screen and (max-width: 1000px) {
	body{
		height: 100vh;
	}

	.mainContainer{
	  background-color: rgba(255,255,255,0.1);
	  border-radius: 25px;
	  margin:10px;
		min-height: 100vh;
	}

	.inner{
		text-align: center;
		color:white;
	}

	.headerText{
		font-size:18px;
	}

	.close{
		position: absolute;
		top:0px;
		left: 10px;
		font-size: 30px;
		color:white;
	}

	.parentVideo{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.video{
	  width:440px;
	  height:250px;
	  margin:10px;
	}

	.description{
	  margin: 20px;
	  color: #bdbdbd;
	  font-size:14px;
	}
}

@media screen and (max-width: 550px) {

	.mainContainer{
	  background-color: rgba(255,255,255,0.1);
	  border-radius: 25px;
	  margin:10px;
		min-height: 100vh;
	}

	.inner{
		text-align: center;
		color:white;
	}

	.headerText{
		font-size:18px;
	}

	.close{
		position: absolute;
		top:0px;
		left: 10px;
		font-size: 30px;
		color:white;
	}

	.parentVideo{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.video{
	  width:340px;
	  height:180px;
	  margin:10px;
	}

	.description{
	  margin: 20px;
	  color: #bdbdbd;
	  font-size:14px;
	}
}

@media screen and (max-width: 380px) {

	.mainContainer{
	  background-color: rgba(255,255,255,0.1);
	  border-radius: 25px;
	  margin:10px;
		min-height: 100vh;
	}

	.inner{
		text-align: center;
		color:white;
	}

	.headerText{
		font-size:15px;
	}

	.close{
		position: absolute;
		top:0px;
		left: 10px;
		font-size: 30px;
		color:white;
	}

	.parentVideo{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.video{
	  width:240px;
	  height:160px;
	  margin:10px;
	}

	.description{
	  margin: 20px;
	  color: #bdbdbd;
	  font-size:12px;
	}
}

/* Font */

@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
