body{
	height: 100%;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family:Helvetica_font;
}

.logo{
	padding-top:15px;
	width: 100px;
}

.cover-container{
	width:100%;
	margin: auto;
	padding:0 15px;
}

.navbar{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.row{
	height: 100vh;
}

.navbar-nav{
	padding-left:10%;
}

.col-sm-4, .col-sm-12, .col-sm-8, .col-sm-2, .col-sm-6{
	border:4px solid black;
}

.textContact{
	font-size:30px;
	text-align: center;
}

.phoneContacts{
	height:30px;
}

/* .marginRightPhoneIcon{
	margin-right:60px;
} */


/*#map{
	height:300px;
	width:60%;
	margin-left: 130px;
}*/

.main{
	color:white;
	text-align: center;
	width:100%;
	padding-top:20px;
	line-height: 30px;
 }



 @media screen and (max-width: 830px) {

 	.logo{
 	 padding-top:12px;
 	 width: 100px;
 	}

 	.nav-item{
 	font-size:11px;
  }

  .navbar-nav{
 		display: flex;
 		flex-direction: row;
 		justify-content: center;
  }
}

 @media screen and (max-width: 600px) {

	 .logo{
	 	padding-top:12px;
	 	width: 90px;
	 }

	 .textContact{
	 	font-size:24px;
	 	text-align: center;
	 }

	 .nav-item{
 	 font-size:11px;
 	}

 	.navbar-nav{
 		 display: flex;
 		 flex-direction: row;
 		 justify-content: center;
 	}

	 .phoneContacts{
	 	height:25px;
	 }

	 p{
		 font-size:14px;
	 }
}

@media screen and (max-width: 450px) {

	.logo{
	 padding-top:12px;
	 width: 80px;
	}

	.nav-item{
	 font-size:10px;
	}

	.navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
	}
	.navbar{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.textContact{
	 font-size:20px;
	 text-align: center;
	}

	.phoneContacts{
	 height:20px;
	}

	 p{
		 font-size:13px;
	 }

	 .main{
	 	line-height: 25px;
	  }
}

@media screen and (max-width: 380px) {

	.nav-item{
	 font-size:9px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

}


@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
