body{
	height: 100%;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family:Helvetica_font;
}


.row{
	height: 100vh;
}

.col-sm-4, .col-sm-12, .col-sm-8, .col-sm-2, .col-sm-6{
	border:10px solid black;
}

.logo{
	padding-top:15px;
	width: 100px;
}

.textContact{
	font-size:30px;
	text-align: center;
}

.phoneContacts{
	height:30px;
}

/* .marginRightPhoneIcon{
	margin-right:60px;
} */

.fb{
	border-radius: 50%;
	border:1px solid white;
	height: 60px;
	position: fixed;
	right:70px;
	bottom:40px;
}

#map{
	height:300px;
	width:60%;
	margin-left: 130px;
}

.main{
	color:white;
	text-align: center;
	width:100%;
	padding-top:20px;
	line-height: 30px;
 }



@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
