body{
	height: 100vh;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family: Helvetica_font;
}

/* Logo */

.logo{
	width: 100px;
	margin: 15px;
}

.card-hide {
	display: none;
}

/* Navigation */

.navbar-nav{
	padding-left:10%;
}

.navbar-nav{
	padding-left:10%;
}

/* Block with genres */

.blockWithchkBox{
	border-radius: 20px;
	background-color: rgba(255,255,255,0.1);
	margin:20px;
	padding:20px;
	color:white;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* Table with cards */

#contentTable{
	width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

/* Cards properties */

.card{
	background-color: rgba(255,255,255,0.1);
	font-size:12px;
	width:18rem;
	margin: 20px;
}

.card-body{
	color: #bdbdbd;
	font-size:13px;
	display:none;
}

/* Text in cards */

h6{
	font-size:15px;
	padding-top: 10px;
	color: white;
}

/* Footer */

.footer{
	background: #3D0A1A;
	color:white;
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
	position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}

/* Adaptation */

@media screen and (max-width: 1200px) {
	.logo{
		width: 100px;
		margin: 15px;
	}

	table{
		color:white;
		height: 80%;
	}

	.marginTable{
		margin:20px;
	}

	.form-check{
		padding-top:10px;
		width:120px;
		font-size:12px;
	}

	.cards{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.card{
		background-color: rgba(255,255,255,0.1);
		font-size:13px;
		width: 14rem;
	}

	.card-body{
		color: #bdbdbd;
		padding:5px;
	}

	h6{
		font-size:14px;
		color: white;
	}

	.footer{
	font-size: 13px;
	position: relative;
	bottom: 0;
	}
}

@media screen and (max-width: 991px) {
	.logo{
		width: 100px;
		margin: 15px;
	}

	table{
		color:white;
		height: 80%;
	}

	.marginTable{
		margin:20px;
	}

	.form-check{
		padding-top:10px;
		width:120px;
		font-size:12px;
	}

	.cards{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.card{
		background-color: rgba(255,255,255,0.1);
		font-size:13px;
		width: 15rem;
	}

	.card-body{
		color: #bdbdbd;
		padding:5px;
	}

	h6{
		font-size:13px;
	}

	.footer{
	font-size: 13px;
	position: relative;
	bottom: 0;
	}
}

@media screen and (max-width: 850px) {

	.logo{
		width: 100px;
		margin: 15px;
	}
	.nav-item{
	 font-size:16px;
	}
	.cards{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.card{
		background-color: rgba(255,255,255,0.1);
		width: 13rem;
	}

	.card-body{
		color: #bdbdbd;
		font-size:10px;
	}

	h6{
		font-size:11px;
	}

	.footer{
	font-size: 10px;
	position: relative;
	bottom: 0;
	}
}

@media screen and (max-width: 767px) {
	.logo{
		width: 100px;
		margin: 15px;
	}

	table{
		color:white;
		height: 70%;
	}

	.nav-item{
	 font-size:12px;
 }

	.navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

	.navbar{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.form-check{
		padding-top:10px;
		width:100px;
		font-size:10px;
	}

	.cards{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.card{
		background-color: rgba(255,255,255,0.1);
		width: 11rem;
	}

	.card-body{
		color: #bdbdbd;
		font-size:9px;
	}

	h6{
		font-size:10px;
	}

	.footer{
	font-size: 10px;
	position: relative;
	bottom: 0;
	}
}

@media screen and (max-width: 634px) {
	 .logo{
 		width: 80px;
 		margin: 10px;
 	}

 	table{
 		color:white;
 		height: 30%;
	}

	td{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nav-item{
	 font-size:11px;
 }

	.navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

	.navbar{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

 	  .cards{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

	.blockWithchkBox{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

 	.card{
 		background-color: rgba(255,255,255,0.1);
 		font-size:12px;
		width: 15rem;
 	}

 	.card-body{
 		color: #bdbdbd;
		font-size:12px;
 	}

 	h6{
 		font-size:15px;
 	}

 	.footer{
 	position: relative;
 	bottom: 0;
  }
}

@media screen and (max-width: 380px) {

	.nav-item{
	 font-size:10px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }
	.navbar{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.blockWithchkBox{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

  .cards{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

/* Change cursor */

.card{
	cursor: pointer;
}

/* Font */

@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
