body{
	height: 100vh;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family: Helvetica_font;
}

/* Logo */

.logo{
	width: 12%;
}

/* Navigation */

.navbar-brand{
	height:50px;
}

.navbar-nav{
	padding-left:10%;
}

/* Central block with logo */

.main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Icons social networks */

.icons a img{
	width:20px;
	margin-left: 20px;
}

.icons {
	float:left;
}

/* Text footer */

.textFooter{
	position:absolute;
}

/* Footer */

.footer{
	background: #3D0A1A;
	color:white;
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 40px;
}

/* Tooltp propertry */

#tooltip {
 position:relative;
}

.navbar-brand:before {
 content:attr(data-description);
 background:rgba(0,0,0,.4);
 color:white;
 padding:20px;
 font-size:12px;
 border-radius: 10px;
 position:absolute;
 left:10%;
 top:30px;
 width:auto;
 height:55px;
 opacity:0;
 transition:.9s;
}

.navbar-brand:after {
 position:absolute;
 top:35px;
 left:50%;
 transition:.9s;
}

.navbar-brand:hover:before {
 opacity:1;
 top:45px;
}

.navbar-brand:hover:after {
 opacity:1;
 top:15px;
}

/* Adaptation */

@media screen and (max-width: 775px) {

 		.nav-item{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size:13px;
	 }

	 	.navbar{
			flex-wrap: nowrap;
		}

 		.navbar-nav{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.navbar-brand{
			font-size:16px;
		}

 		.logo{
			width: 15%;
		}

 		/* .rightdiv img {
			width:40px;
			position: absolute;
			right:0;
		 }*/

 		 .icons a img{
		 	width:15px;
		 	margin-left: 10px;
		 }

 		.footer{
			font-size: 12px;
			opacity: 0.5;
			text-align: center;
			position: absolute;
		  bottom: 0;
		  width: 100%;
		  height: 30px;
		}
}

@media screen and (max-width: 565px) {
	.nav-item{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size:11px;
	}

 	.navbar{
	flex-wrap: nowrap;
	}

 	.navbar-nav{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
	}
	.navbar-brand{
		font-size:14px;
	}

 	.logo{
		width: 20%;
	}

 	/* .rightdiv img {
		width:35px;
		position: absolute;
		right:0;
	 }*/

 	 .icons a img{
		width:13px;
		margin-left: 10px;
	 }

 	.footer{
		font-size: 10px;
		opacity: 0.5;
		text-align: center;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 30px;
	 }
}

@media screen and (max-width: 495px) {
	.nav-item{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 font-size:10px;
	}

  .navbar{
	 flex-wrap: nowrap;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
 }

  .navbar-brand{
	 font-size:13px;
 }

  .logo{
	 width: 20%;
 }

  /* .rightdiv img {
	 width:30px;
	 position: absolute;
	 right:0;
	}*/

 	.icons a img{
		width:12px;
		margin-left: 10px;
	}

  .footer{
	 font-size: 9px;
	 opacity: 0.5;
	 text-align: center;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 height: 30px;
 }
}

@media screen and (max-width: 440px) {
	.nav-item{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 font-size:8px;
 }

  .navbar{
	 flex-wrap: nowrap;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
 }

  .navbar-brand{
	 font-size:12px;
 }

  .logo{
	 width: 20%;
 }

  /* .rightdiv img {
	 width:30px;
	 position: absolute;
	 right:0;
	}*/

 	.icons a img{
		width:12px;
		margin-left: 6px;
	}

  .footer{
	 font-size: 8px;
	 opacity: 0.5;
	 text-align: center;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 height: 30px;
 }
}

@media screen and (max-width: 380px) {

	.nav-item{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 font-size:7px;
 }

  .navbar{
	 flex-wrap: nowrap;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
 }

  .navbar-brand{
	 font-size:10px;
 }

  .logo{
	 width: 20%;
 }
 /*
  .rightdiv img {
	 width:29px;
	 position: absolute;
	 right:0;
	}*/

 	.icons a img{
		width:10px;
		margin-left: 6px;
	}

  .footer{
	 font-size: 7px;
	 opacity: 0.5;
	 text-align: center;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 height: 30px;
 }

}

/* Font */

@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
