

/* .row{
	height: 100vh;
}

.col-sm-12{
	background-image: url("materials/home_background.png");
}

.logo{
	width:200px;
} */


/*
img{
	width:100%;
	height:100vh;
} */

/*
.row{
	height: 33vh;
}

.col-sm-4, .col-sm-12, .col-sm-3{
	background-image: url("../materials/home_background.jpg");
	padding:0;
}

.logo{
	position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
		opacity: 0.8;
}

.btn:hover{
	border: 1px solid white;
	color:white;
	background: #99284E;
}

.btn{
	opacity: 0.5;
	position: absolute;
	animation-name: btns;
	animation-duration: 7s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}



.btn1{
	bottom:0;
}

.btn2{
	bottom:0;
}

.btn3{
	right: 0;
}

.btn4{
	right: 0;

}

.ray1, .ray2, .ray3, .ray4 {
	width:5px;
	height: 160px;
	background: white;
	opacity: 0.2;
	margin: auto;
	position: absolute;

	animation-name: rays;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 2s;
}

.ray1 {
	transform: rotate(-45deg);
    left: 90px;
    top: -15px;
}

.ray2 {
	transform: rotate(70deg);

	right: 75px;
    bottom: 100px;
}

.ray3 {
	transform: rotate(70deg);

	bottom: -45px;
    left: 72px;
}

.ray4 {
	transform: rotate(-50deg);

    bottom: -20px;
    right: 100px;
} */





body{
	height: 100vh;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family: Helvetica_font;
}
/*
.cover-container{
	display: flex;
	flex-direction: column;
	align-items: center;
} */

.navbar-nav{
	padding-left: 10%;
	width:100%;
}

 .nav-item{
	 width:20%;
}

.logo{
	width: 12%;
	animation-name:logoAnim;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

/* @keyframes logoAnim {
		0%{
			/* width:0px; */
			/* transform: scale(1,1); */
		/* } */
		/* 100%{ */
			/* width:12%; */
			/* transform: scale(2,2); */
		/* } */
/* } */

.head{
	display: flex;
  flex-direction: column;
  height: 100%;
}

.main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 500px;
}

.rightdiv img {
	width:50px;
	position: absolute;
	right:0;
 }

.arrow {
	padding-top:30px;
}

.icons a img{
	width:20px;
	margin-left: 20px;
}

.icons {
	float:left;
}

.inner2{
	position:absolute;
}

.footer{
	background: #3D0A1A;
	color:white;
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 40px;

	/* animation-name:footerAnim;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards; */
}



@media screen and (max-width: 775px) {

 		.nav-item{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			font-size:13px;
	 }

 	.navbar{
		flex-wrap: nowrap;
	}

 		.navbar-nav{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
		}
		.navbar-brand{
			font-size:16px;
		}

 		.logo{
			width: 15%;
		}

 		.rightdiv img {
			width:40px;
			position: absolute;
			right:0;
		 }

 		 .icons a img{
		 	width:15px;
		 	margin-left: 10px;
		 }

 		.footer{
			font-size: 12px;
			opacity: 0.5;
			text-align: center;
			position: absolute;
		  bottom: 0;
		  width: 100%;
		  height: 30px;
		}
}


 @media screen and (max-width: 565px) {
	.nav-item{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size:11px;
	}

 	.navbar{
	flex-wrap: nowrap;
	}

 	.navbar-nav{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
	}
	.navbar-brand{
		font-size:14px;
	}

 	.logo{
		width: 20%;
	}

 	.rightdiv img {
		width:35px;
		position: absolute;
		right:0;
	 }

 	 .icons a img{
		width:13px;
		margin-left: 10px;
	 }

 	.footer{
		font-size: 10px;
		opacity: 0.5;
		text-align: center;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 30px;
	 }
}

 @media screen and (max-width: 495px) {
	.nav-item{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 font-size:10px;
}

  .navbar{
	 flex-wrap: nowrap;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
 }

  .navbar-brand{
	 font-size:13px;
 }

  .logo{
	 width: 20%;
 }

  .rightdiv img {
	 width:30px;
	 position: absolute;
	 right:0;
	}

 	.icons a img{
		width:12px;
		margin-left: 10px;
	}

  .footer{
	 font-size: 9px;
	 opacity: 0.5;
	 text-align: center;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 height: 30px;
 }
}


 @media screen and (max-width: 440px) {
	.nav-item{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 font-size:9px;
}

  .navbar{
	 flex-wrap: nowrap;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
 }

  .navbar-brand{
	 font-size:12px;
 }

  .logo{
	 width: 20%;
 }

  .rightdiv img {
	 width:30px;
	 position: absolute;
	 right:0;
	}

 	.icons a img{
		width:12px;
		margin-left: 6px;
	}

  .footer{
	 font-size: 8px;
	 opacity: 0.5;
	 text-align: center;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 height: 30px;
 }
}


 @media screen and (max-width: 380px) {
	.nav-item{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
	 font-size:7px;
}

  .navbar{
	 flex-wrap: nowrap;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
 }

  .navbar-brand{
	 font-size:10px;
 }

  .logo{
	 width: 20%;
 }

  .rightdiv img {
	 width:29px;
	 position: absolute;
	 right:0;
	}

 	.icons a img{
		width:10px;
		margin-left: 6px;
	}

  .footer{
	 font-size: 7px;
	 opacity: 0.5;
	 text-align: center;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 height: 30px;
 }
}

.nav-link{
	cursor: pointer;
}

@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
