/* .row{
	height: 100vh;
}

.col-sm-12{
	background-image: url("materials/home_background.png");
}

.logo{
	width:200px;
} */


/*
img{
	width:100%;
	height:100vh;
} */

/*
.row{
	height: 33vh;
}

.col-sm-4, .col-sm-12, .col-sm-3{
	background-image: url("../materials/home_background.jpg");
	padding:0;
}

.logo{
	position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
		opacity: 0.8;
}

.btn:hover{
	border: 1px solid white;
	color:white;
	background: #99284E;
}

.btn{
	opacity: 0.5;
	position: absolute;
	animation-name: btns;
	animation-duration: 7s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}



.btn1{
	bottom:0;
}

.btn2{
	bottom:0;
}

.btn3{
	right: 0;
}

.btn4{
	right: 0;

}

.ray1, .ray2, .ray3, .ray4 {
	width:5px;
	height: 160px;
	background: white;
	opacity: 0.2;
	margin: auto;
	position: absolute;

	animation-name: rays;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 2s;
}

.ray1 {
	transform: rotate(-45deg);
    left: 90px;
    top: -15px;
}

.ray2 {
	transform: rotate(70deg);

	right: 75px;
    bottom: 100px;
}

.ray3 {
	transform: rotate(70deg);

	bottom: -45px;
    left: 72px;
}

.ray4 {
	transform: rotate(-50deg);

    bottom: -20px;
    right: 100px;
} */





body{
	height: 100%;
	background-image: url("../materials/home_background.png");
	background-size: cover;
}

.navbar-nav{
	padding-left: 10%;
	width:100%;
}

 .nav-item{
	 width:20%;
}

.logo{
	width: 12%;
}

.head{
	display: flex;
  flex-direction: column;
  height: 100%;
}

.main{
	display: flex;
	justify-content: center;
	align-items: stretch;
	margin-top: 10%;
}

.rightdiv img{
	width:50px;
	position: absolute;
	right:0;
}

.arrow{
	padding-top:60px;
}

.footer{
	background: #3D0A1A;
	color:white;
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
	position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
}
