
body{
	height: 100%;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family: Helvetica_font;
}

.logo{
	width: 100px;
	margin: 15px;
}

/* MAIN BLOCK */

.main{
	display: flex;
	justify-content: center;
}

/* WORK WITH TEXT */

.text{
	text-align: center;
	color:white;
}


.beginText{
	text-align: left;
	color:white;
	/* margin-left: 5%; */
}

.centerText{
	text-align: center;
	color:white;
	/* margin-left: 25%; */
}

.endText{
	text-align: right;
	color:white;
	/* margin-left: 84%; */
	/* margin: auto; */
}

/* TEAM CARDS */

.card{
	float:left;
	margin: 30px;
	line-height: 20px;
	font-size: 15px;
	width:15%;
}

.infoCard{
	width:auto;
	padding: 10px;
}

/* word-brake:; */ /* перенос слов */


/* FOOTER */

.footer{
	background: #3D0A1A;
	color:white;
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
	position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}


@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
