
body{
	height: 100%;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family: Helvetica_font;
}

/* Logo */

.logo{
	width: 120px;
	margin: 10px;
}

/* Navigation */

.navbar-nav{
	padding-left:10%;
}

/* Main block */

.founder, .sales, .other {  /*.mainFounder, .mainSales, .mainOther, */
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/* Work with text */

.txt{
	color:white;
	text-align: center;
	font-size:17px;
}

h6{
	color:white;
	text-align: center;
	font-size:12px;
}

.flexText{
	display: flex;
	justify-content: space-around;
}

/* Team cards */

.card{
	margin: 30px;
	line-height: 20px;
	font-size: 15px;
	width:15%;
}

.card-title{
	font-size:14px;
	color:black;
}

.infoCard{
	width:auto;
	padding: 10px;
}

/* FOOTER */

.footer{
	background: #3D0A1A;
	color:white;
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
	position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}

/* Adaptation */

@media screen and (max-width: 1050px) {
	.logo{
		margin: 10px;
		width: 115px;
	}

	.txt{
		font-size: 15px;
	}
	.nav-item{
	 font-size:16px;
 }
.founder, .sales, .other {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.card{
		width: 25%;
	}

	.founderCard{
		width:20%;
	}

	.infoCard{
		width:auto;
		padding: 10px;
	}

	.card-title{
		font-size:14px;
	}

	.card-text{
		font-size:12px;
	}

	.flexText{
		display: flex;
		justify-content: space-around;
	}
}

@media screen and (max-width: 850px) {
	.logo{
		margin: 10px;
		width: 115px;
	}

	.txt{
		font-size: 15px;
	}
	.nav-item{
	 font-size:13px;
 }
	.founder, .sales, .other {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.card{
		width: 25%;
	}

		.founderCard{
			width:20%;
		}

	.infoCard{
		width:auto;
		padding: 10px;
	}

	.card-title{
		font-size:11px;
	}

	.card-text{
		font-size:10px;
	}

	.flexText{
		display: flex;
		justify-content: space-around;
	}


}

@media screen and (max-width: 700px) {
	.logo{
		margin: 10px;
		width: 115px;
	}

	.txt{
		font-size: 14px;
	}

	.nav-item{
	 font-size:10px;
 }

	.navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

	.navbar{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}


	.founder, .sales, .other {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card{
		width:30%;
	}

	.infoCard{
		width:auto;
		padding: 10px;
	}

	.card-title{
		font-size:13px;
	}

	.card-text{
		font-size:12px;
	}

	.flexText{
		display: flex;
		flex-direction: column;
	}

	.footer{
		background: #3D0A1A;
		color:white;
		font-size: 13px;
		opacity: 0.5;
		text-align: center;
		position: relative;
	  bottom: 0;
	  width: 100%;
	  height: 40px;
	}
}

@media screen and (max-width: 500px) {
	.logo{
		margin: 10px;
		width: 105px;
	}

	.txt{
		font-size: 12px;
	}

	.nav-item{
	 font-size:11px;
	}

	.navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
	}

	.founder, .sales, .other {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card{
		width:30%;
	}

	.infoCard{
		width:auto;
		padding: 10px;
	}

	.card-title{
		font-size:10px;
	}

	.card-text{
		font-size:12px;
	}

	.flexText{
		display: flex;
		flex-direction: column;
	}

	.footer{
		font-size: 13px;
	}
}

@media screen and (max-width: 420px) {
	.logo{
		margin: 10px;
		width: 95px;
	}

	.txt{
		font-size: 12px;
	}

	.nav-item{
	 font-size:10px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

	.founder, .sales, .other {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card{
		width:40%;
	}

	.infoCard{
		width:auto;
		padding: 10px;
	}

	.card-title{
		font-size:10px;
	}

	.card-text{
		font-size:10px;
	}

	.flexText{
		display: flex;
		flex-direction: column;
	}

	.footer{
		font-size: 11px;
	}
}

@media screen and (max-width: 380px) {
	.logo{
		width: 85px;
	}

	.nav-item{
	 font-size:10px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }
	.navbar{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

/* Font */

@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
