
body{
	height: 100%;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family: Helvetica_font;
	width:100%;
}

.head{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar-nav{
	padding-left:10%;
}

.logo{
	width: 150px;
	margin-bottom:25px;
}

.headAboutAndMarkets{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	color:#bdbdbd;
}

.textAboutUsAndMarkets{
		font-size:14px;
		color:#bdbdbd;
		word-break:keep-all;
		text-align: center;
}

.blocks{
	background: rgba(255,255,255,0.1);
	border-radius: 20px;
	margin:10px;
	padding:20px;
}

.cardsWithMarkets{
	width: 10rem;
}

.textHeader{
	width:450px;
	font-size:14px;
	color:#bdbdbd;
	word-break:keep-all;
	text-align: center;
}

.mainContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background: rgba(255,255,255,0.1); */
	/* border-radius: 20px; /* Верхний левый, Верхний правый, Нижний правый, Нижний левый */ */
}

.card{
	background-color: #0000005c;
	color: #bdbdbd;
	margin:10px;
	width:200px;
	height: 250px;
	font-size:11px;
	text-align: center;
}


.card p{
	margin-top: 15px;
}

.icons{
	width:30px;
}

.videoText{
	color:#bdbdbd;
}

.videoPromo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 20px 10px;
}

.footer{
	width: 100%;
  height: 40px;
	background: #3D0A1A;
	color:white;
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
	position: relative;
  bottom: 0;
}

.showreel{
	 width:590px;
	 height:310px;
}

@media screen and (max-width: 1100px) {

	.logo{
		width: 125px;
	}

	h1{
		font-size:20px;
	}

	.textAboutUsAndMarkets{
			font-size:12px;
	}

	.blocks{
		padding:10px;
	}

	.textHeader{
		font-size:12px;
	}

	.cardsWithMarkets{
		width: 6rem;
	}

	.showreel{
	  width:450px;
	  height:260px;
	}
}

@media screen and (max-width: 900px) {

	.logo{
		width: 125px;
	}

	h1{
		font-size:20px;
	}

	.textAboutUsAndMarkets{
			font-size:10px;
	}

	.cardsWithMarkets{
		width: 3rem;
	}

	.textHeader{
		font-size:12px;
	}

	.icons{
		width:30px;
	}

	.showreel{
	  width:450px;
	  height:260px;
	}

}

@media screen and (max-width: 800px) {

	.logo{
		width: 115px;
	}

	h1{
		font-size:15px;
	}

	.textAboutUsAndMarkets{
			font-size:9px;
	}

	.cardsWithMarkets{
		width: 4rem;
	}

	.nav-item{
 	font-size:16px;
  }

	.icons{
		width:20px;
	}

	.card{
		margin:10px;
		width:200px;
		height: 210px;
		font-size:11px;
		text-align: center;
	}

	.showreel{
	  width:390px;
	  height:240px;
	}

}

@media screen and (max-width: 650px) {

	.logo{
		width: 115px;
	}

	h1{
		font-size:25px;
	}

	.nav-item{
	 font-size:14px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

	.textAboutUsAndMarkets{
			font-size:10px;
	}

	.cardsWithMarkets{
		width: 5rem;
	}

	.headAboutAndMarkets{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		text-align: center;
		color:#bdbdbd;
	}

	.mainContainer{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.icons{
		width:20px;
	}

	.card{
		margin:10px;
		width:200px;
		height: 210px;
		font-size:11px;
		text-align: center;
	}

	.showreel{
	  width:360px;
	  height:220px;
	}
	.videoText{
		color:#bdbdbd;
		font-size:15px;
	}
}

@media screen and (max-width: 500px) {

	.logo{
		width: 95px;
	}

	h1{
		font-size:25px;
	}

	.nav-item{
	 font-size:12px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

	.textAboutUsAndMarkets{
			font-size:10px;
			color:#bdbdbd;
			word-break:keep-all;
			text-align: center;
	}

	.cardsWithMarkets{
		width: 4rem;
	}

	.icons{
		width:20px;
	}

	.textHeader{
		width:350px;
		font-size:12px;
		word-break:keep-all;
		text-align: center;
	}

	.card{
		margin:10px;
		width:200px;
		height: 210px;
		font-size:11px;
		text-align: center;
	}

	.showreel{
	  width:280px;
	  height:180px;
	}

	.videoText{
		color:#bdbdbd;
		font-size:15px;
	}

		.footer{
			font-size: 12px;
	}
}

@media screen and (max-width: 420px) {
	.logo{
		width: 85px;
	}

	h1{
		font-size:20px;
	}

	.nav-item{
	 font-size:10px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

	.textAboutUsAndMarkets{
			font-size:10px;
			color:#bdbdbd;
			word-break:keep-all;
			text-align: center;
	}

	.cardsWithMarkets{
		width: 2.5rem;
	}

	.headAboutAndMarkets{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		text-align: center;
		color:#bdbdbd;
	}

	.mainContainer{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.card{
		margin:10px;
		width:200px;
		height: 210px;
		font-size:11px;
		text-align: center;
	}

	.textHeader{
		width:280px;
		font-size:11px;
		word-break:keep-all;
		text-align: center;
	}

	.showreel{
	  width:270px;
	  height:170px;
	}

	.videoText{
		color:#bdbdbd;
		font-size:15px;
	}

	.videoPromo{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 20px 10px;
	}

	.footer{
		font-size: 12px;
	}
}

@media screen and (max-width: 380px) {

	.nav-item{
	 font-size:8px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

}

@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
