body{
	height: 100vh;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family: Helvetica_font;
}

.logo{
	width: 100px;
	margin: 15px;
}

.text{
	color:white;
	text-align: center;
	margin-bottom: 50px;
}

.tableWithData{
	margin: 20px;
}

.table{
	color:white;
}

.btn{
	width:auto;
	height:auto;
	font-size:14px;
}

.footer{
	background: #3D0A1A;
	color:white;
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

@media screen and (max-width: 1000px) {
	.logo{
		width: 80px;
		margin: 15px;
	}

	.text{
		font-size:16px;
	}

.btn{
	width:80px;
	height:40px;
	font-size:11px;
	padding:5px;
}

	.tableWithData{
		margin: 15px;
	}

	tr{
		font-size:14px;
	}

	.table{
		color:white;
	}

	.footer{
		background: #3D0A1A;
		color:white;
		font-size: 12px;
		opacity: 0.5;
		text-align: center;
		position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 40px;
	}
}

@media screen and (max-width: 715px) {
	.logo{
		width: 80px;
		margin: 15px;
	}

	.text{
		font-size:16px;
	}

.btn{
	width:80px;
	height:40px;
	font-size:11px;
	padding:5px;
}

	.tableWithData{
		margin: 15px;
	}

	tr{
		font-size:14px;
	}

	.table{
		color:white;
	}

	.footer{
		background: #3D0A1A;
		color:white;
		font-size: 12px;
		opacity: 0.5;
		text-align: center;
		position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 40px;
	}
}



@media screen and (max-width: 600px) {
	.logo{
		width: 70px;
		margin: 15px;
	}

	.text{
		font-size:15px;
	}

.btn{
	width:70px;
	height:30px;
	font-size:10px;
	padding:5px;
}

	.tableWithData{
		margin: 5px;
	}

tr{
	font-size:10px;
}

	.table{
		color:white;
	}

	.footer{
		background: #3D0A1A;
		color:white;
		font-size: 12px;
		opacity: 0.5;
		text-align: center;
		position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 40px;
	}
}


@media screen and (max-width: 380px) {
.logo{
	width: 70px;
	margin: 15px;
}

.text{
	font-size:12px;
}

.btn{
	width:60px;
	height:30px;
	font-size:9px;
	padding:5px;
}

.tableWithData{
	margin: 5px;
}

tr{
	font-size:10px;
}

	.table{
		color:white;
	}

	.footer{
		background: #3D0A1A;
		color:white;
		font-size: 12px;
		opacity: 0.5;
		text-align: center;
		position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 40px;
	}
}

@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
