body{
	height: 100%;
	background-image: url("../materials/home_background.png");
	background-size: cover;
	font-family: Helvetica_font;
}

.logo{
	width: 100px;
	margin: 15px;
}

.navbar-nav{
	padding-left:10%;
}

.navbar{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.text{
	color:white;
	text-align: center;
	margin-bottom: 50px;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:auto;
}


/*
.table{
	margin: 20px;
} */
/*
.dropdown{
	width:10px;
} */
/*
.table{
	color:white;
	overflow:hidden;
} */
/*
.table2{
	word-break:keep-all;
} */
/*
.btn{
	width:auto;
	height:auto;
	font-size:14px;
} */


.table2{
	color:white;
	/* margin:20px; */
	width:20px;
	white-space: pre-wrap;
}

.footer{
	background: #3D0A1A;
	color:white;
	font-size: 15px;
	opacity: 0.5;
	text-align: center;
	position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
}

@media screen and (max-width: 1000px) {
	.logo{
		width: 80px;
		margin: 15px;
	}

	.text{
		font-size:16px;
	}

	.btn{
		width:80px;
		height:40px;
		font-size:11px;
		padding:5px;
	}

	.tableWithData{
		margin: 15px;

	}

	tr{
		font-size:14px;
	}

	.table{
		color:white;
	}

	.footer{
		background: #3D0A1A;
		color:white;
		font-size: 12px;
		opacity: 0.5;
		text-align: center;
		position: relative;
	  bottom: 0;
	  width: 100%;
	  height: 40px;
	}
}

@media screen and (max-width: 715px) {
	.logo{
		width: 80px;
		margin: 15px;
	}

	.text{
		font-size:16px;
	}

	.nav-item{
	 font-size:13px;
	}

	.navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
	}

	.btn{
		width:80px;
		height:40px;
		font-size:11px;
		padding:5px;
	}

	.tableWithData{
		margin: 15px;
	}

	tr{
		font-size:14px;
	}

	.table{
		color:white;
	}

	.footer{
		background: #3D0A1A;
		color:white;
		font-size: 12px;
		opacity: 0.5;
		text-align: center;
		position: relative;
	  bottom: 0;
	  width: 100%;
	  height: 40px;
	}
}

@media screen and (max-width: 600px) {
	.text{
		font-size:12px;
	}

	table{
		width:1px;
	}

	.nav-item{
	 font-size:11px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

	.btn{
		width:70px;
		height:30px;
		font-size:10px;
		padding:5px;
	}

	tr{
		font-size:10px;
	}

	.footer{
		font-size: 12px;
		position: relative;
	  bottom: 0;
	}

}

@media screen and (max-width: 380px) {

	.nav-item{
	 font-size:9px;
 }

  .navbar-nav{
		 display: flex;
		 flex-direction: row;
		 justify-content: center;
 }

}

@font-face{
	font-family: Helvetica_font;
	src:url("Helvetica_font.otf");
}
